.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px 0 100px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  height: 34px;
  max-width: 309px;
  gap: 57px;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;

  margin: 57px 0 35px 0;
}

.logo img {
  height: 68px;
  width: 210.32154846191406px;
  margin: 40px 0 25px 0;
}
.nav-active {
  text-decoration: underline;
}
@media screen and (max-width: 980px) {
  .header-container {
    margin: 0 20px 0 20px;
  }
}

@media screen and (max-width: 694px) {
  .navigation {
    margin: 38px 0 28px 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    text-align: right;
    text-transform: uppercase;
    height: 17px;
    gap: 10px;
  }

  .logo img {
    height: 47px;
    width: 145px;
    margin: 20px 0 20px 0;
  }
}
