.avis {
    margin: 0 0 24px;
    text-align: right;
    display: flex;
    justify-content: right;
  }
  .avis img {
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  
  @media screen and (max-width: 694px) {
    .avis {
      margin-top: 27px;
    }
    .avis img {
      height: 15px;
      width: 15px;
    }
  }